.modal{
	display: none;
	width: 500px;
	max-width: 95%;
	transition: transform 0.4s ease,opacity 0.4s ease;
	transform: translateY(-60px) scale(1.1);
	opacity: 0;
	will-change: transform,opacity;
	overflow: visible;
	background: $black;
	color: #FFF;
	padding: $pad-l;
	@include res(s){
		padding: $pad-m;
		transform: translateY(-60px) scale(1);
	}

	&__title{
		margin-bottom: $pad-xs;
		padding-right: 40px;
		&--nomargin{
			margin-bottom: 0;
		}
	}
	&__subtitle{
		margin-bottom: $pad-s;
	}
}

.fancybox-slide--current {
	.modal {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

.fancybox-is-closing{
	.modal {
		transform: translateY(60px) scale(0.9);
		opacity: 0.5;
	}
}


