.s-page-title{
	background: $white-bg;

	.container{
		padding-top: 56px;
		padding-bottom: 56px;
		@include res(xl){
			padding-top: $pad-l;
			padding-bottom: $pad-l;
		}
		@include res(s){
			padding-top: $pad-m;
			padding-bottom: $pad-m;
		}
	}

	&--bordered{
		padding-bottom: $pad-l;
		@include res(l){
			padding-bottom: $pad-m;
		}
		@include res(s){
			padding-bottom: $pad-s;
		}

		.container{
			position: relative;
			&:after{
				content: '';
				position: absolute;
				width: calc(100% - 32px);
				height: 4px;
				left: 16px;
				bottom: 0;
				background: $black;
			}
		}
	}
}